<%include includes/header.ejs%>

<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2><%= __('introduction_h2_title')%></h2>
            <p><%= __('introduction_p_title')%></p>
        </header>

        <!-- Content -->
        <h2 id="content"><%- __('introduction_h2')%></h2>

        <p><%- __('introduction_p')%></p>

        <a href="http://www.hoseo.ac.kr/Home/Contents.mbz?action=MAPP_1708220056" target="_blank" class="button special fit"><%= __('introduction_direction')%></a>
    </div>
</section>
<%include includes/footer.ejs%>