<%include includes/header.ejs%>

<section id="main" class="wrapper">
    <div class="row uniform">
    <div class="1u 12u$(xsmall)">

    </div>
    <div class="2u 12u$(xsmall)">
        <div class="table-wrapper">
            <table class="alt">
                <tbody style="text-align: center;">
                    <tr style="cursor: pointer" onclick="
                        content1.style.display='block'
                        content2.style.display='none'
                        content3.style.display='none'
                        content4.style.display='none'" >
                        <td><span>인사말</span><span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="
                    content1.style.display='none'
                    content2.style.display='block'
                    content3.style.display='none'
                    content4.style.display='none'" >
                        <td>연혁<span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="
                    content1.style.display='none'
                    content2.style.display='none'
                    content3.style.display='none'
                    content4.style.display='block'" >
                        <td>조직도<span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="location.href='/members'">
                        <td>연구인력<span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="location.href='https:www.hoseo.ac.kr/Home/Contents.mbz?action=MAPP_1708220056'">
                        <td><%= __('introduction_direction')%><span style="float:right;">></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="8u 12u$(xsmall)">
        <div class="inner">
            <!-- Content -->
            <div id="content1">
                <header class="align-center">
                    <h2><%= __('introduction_h2_title')%></h2>
                    <p><%= __('introduction_p_title')%></p>
                </header>
                <h2 id="content"><%- __('introduction_h2')%></h2>
                <div class="row uniform">
                    <div class="3u 12u(xsmall)">
                        <p><img width="100%" src="images/members/고학림.png" /></p>
                    </div>
                    <div class="9u 12u(xsmall)">
                        <p><%- __('introduction_p')%></p>
                    </div>
                </div>
                <br><br>
                <div style="text-align: right;">
                    <%- __('thanks_name')%>            
                </div>
            </div>

            <div id="content2">
                <header class="align-center">
                    <h2>주요 연혁</h2>
                    <p><%= __('introduction_p_title')%></p>
                </header>
                <img width="100%" src="/images/introduction/주요 연혁.png"/>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th><%- __('info_table_head1')%></th>
                                <th><%- __('info_table_head2')%></th>
                                <th><%- __('info_table_head3')%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0; i<intro_data.length; i++){%>
                                <tr>
                                    <td><%=intro_data[i].date%></td>
                                    <%if(tran_value=='ko'){%>
                                        <td><%=intro_data[i].contents_ko%></td>
                                        <td><%=intro_data[i].etc_ko%></td>
                                    <%}else{%>
                                        <td><%=intro_data[i].contents_en%></td>
                                        <td><%=intro_data[i].etc_en%></td>
                                    <%}%>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="content3">
                <header class="align-center">
                    <h2>주요 연혁</h2>
                    <p><%= __('introduction_p_title')%></p>
                </header>
                <img width="100%" src="/images/introduction/주요 연혁.png" />
                <div style="text-align: center;">
                    <%- __('info_img2')%>
                </div>
            </div>

            <div id="content4">
                <header class="align-center">
                    <h2>조직도</h2>
                    <p><%= __('introduction_p_title')%></p>
                </header>
                <img width="100%" src="/images/introduction/조직도.png" />
                <div style="text-align: center;">
                    <%- __('info_img3')%>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>
<script>
    content1.style.display='block'
    content2.style.display='none'
    content3.style.display='none'
    content4.style.display='none'
</script>
<%include includes/footer.ejs%>