<%include includes/header.ejs%>

<section id="main" class="wrapper">
    <div class="row uniform">
    <div class="1u 12u$(xsmall)"></div>
    <div class="2u 12u$(xsmall)">
        <div class="table-wrapper">
            <table class="alt">
                <tbody style="text-align: center;">
                    <tr style="cursor: pointer" onclick="location.href='/introduction/1'" >
                        <td><span><%= __('Greetings')%></span><span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="location.href='/introduction/2'" >
                        <td><%= __('History')%><span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="location.href='/introduction/3'" >
                        <td><%= __('Organization')%><span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="location.href='/members'">
                        <td><%= __('Researchers')%><span style="float:right;">></span></td>
                    </tr>
                    <tr style="cursor: pointer" onclick="window.open('https:www.hoseo.ac.kr/Home/Contents.mbz?action=MAPP_1708220056')">
                        <td><%= __('introduction_direction')%><span style="float:right;">></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="8u 12u$(xsmall)">
        <div class="inner">
            <!-- Content -->

            <div id="content4">
                <header class="align-center">
                    <h2>조직도</h2>
                    <p><%= __('introduction_p_title')%></p>
                </header>
                <img width="100%" src="/images/introduction/조직도.png" />
            </div>
        </div>

    </div>
    </div>
</section>
<%include includes/footer.ejs%>