<%include includes/header.ejs%>
<%var row = field[0];%>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2> <%=__('research_fields_detail_title')%> </h2>
            <p> <%=__('research_fields_detail_subtitle')%> </p>
        </header>
        <hr class="major"/>
        <h3 class="align-center"></h3>
        <div class="table-wrapper">
            <table class="align-center">
                <thead>
                <div class="table-wrapper">
                    <table class="alt">
                        <tbody class="align-center">
                        <tr>
                            <td style="width:155px"><%=__('research_fields_detail_category1')%></td>
                            <td class="align-left" colspan="4"><%if(tran_value=='ko'){%><%=row.research_name_ko%><%} else{%><%=row.research_name_en%><%}%></td>
                        </tr>
                        <tr>
                            <td><%=__('research_fields_detail_category2')%></td>
                            <td class="align-left"><%if(tran_value=='ko'){%>해양IT 연구소<%} else{%>Ocean-it<%}%></td>
                            <td rowspan="2" style="vertical-align:middle;width:178px"><%=__('research_fields_detail_category3')%></td>
                            <td><%=__('research_fields_detail_category4')%></td>
                            <td class="align-left"><%if(tran_value=='ko'){%><%=row.research_charge_ko%><%} else{%><%=row.research_charge_en%><%}%></td>
                        </tr>
                        <tr>
                            <td><%=__('research_fields_detail_category5')%></td>
                            <td class="align-left"><%if(tran_value=='ko'){%><%=row.support_organization_ko%><%} else{%><%=row.support_organization_en%><%}%></td>
                            <td><%=__('research_fields_detail_category6')%></td>
                            <td class="align-left"><%if(tran_value=='ko'){%><%=row.research_charge_belong_ko%><%} else{%><%=row.research_charge_belong_en%><%}%></td>
                        </tr>
                        <tr>
                            <td><%=__('research_fields_detail_category7')%></td>
                            <td class="align-left"><%=row.date_start + " ~ " + row.date_end%></td>
                            <td><%=__('research_fields_detail_category8')%></td>
                            <td class="align-left" colspan="2">
                            <%if(today_date < row.date_end ){%>
                            <%=__('research_fields_state1')%>
                            <%}else{%>
                            <%=__('research_fields_state2')%>
                            <%}%>
                        </tr>
                        <tr>
                            <td><%=__('research_fields_detail_category9')%></td>
                            <td colspan="4" class="align-left"><%if(tran_value=='ko'){%><%=row.research_purpose_ko%><%} else{%><%=row.research_purpose_en%><%}%></td>
                        </tr>
                        <tr>
                            <td><%=__('research_fields_detail_category10')%></td>
                            <td colspan="4" class="align-left"><%if(tran_value=='ko'){%><%=row.research_contents_ko%><%} else{%><%=row.research_contents_en%><%}%></td>
                        </tr>
                        <tr>
                            <td><%=__('research_fields_detail_category11')%></td>
                            <td colspan="4" class="align-left"><%if(tran_value=='ko'){%><%=row.research_expected_ko%><%} else{%><%=row.research_expected_en%><%}%></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div style="float:right">
                    <a href="/research_fields/page/1" class="button"><%=__('research_fields_detail_list')%></a>
                </div>
                </thead>
            </table>
        </div>
    </div>
</section>
<%include includes/footer.ejs%>