<%include includes/header.ejs%>
<%var row = field[0];%>

<%
    field2_data = field2[0].field_picture;
    var jbSplit1 = field2_data.split('/*');
%>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2> <%=__('research_fields_detail_title')%> </h2>
            <p> <%=__('research_fields_detail_subtitle')%> </p>
        </header>
        <hr class="major"/>
        <h3 class="align-center"></h3>

        <h2 class="align-center"><%if(tran_value=='ko'){%><%=row.research_name_ko%><%} else{%><%=row.research_name_en%><%}%></h2>
        <ul>
            <li>연구기간 : <%=row.date_start + " ~ " + row.date_end%></li>
            <li>지원기관 : <%if(tran_value=='ko'){%><%=row.support_organization_ko%><%} else{%><%=row.support_organization_en%><%}%></li>
            <li>연구목표 : <%if(tran_value=='ko'){%><%=row.research_purpose_ko%><%} else{%><%=row.research_purpose_en%><%}%></li>
            <li>연구내용</li>
        </ul>


        <%for ( var i in jbSplit1 ){%>
            <%var jbSplit2 = jbSplit1[i].split('/');
            
            var img_size = jbSplit2[0];
            var sub_title_size = Number(jbSplit2[1])
            var title = jbSplit2[2]%>
            <div class="carousel-item active">
                <h3><%=title%></h3>

                <%for(var k = 0; k<sub_title_size; k++){%>
                    <h5><%=jbSplit2[k+3]%></h5> 
                <%}%>
                
                <%for(var j =3 + sub_title_size; j<jbSplit2.length; j++){%>
                    
                    <img src="/images/research_field/<%= jbSplit2[j]%>" class="d-block w-100" style="height: 300px;width: 570px;" >
                <%}%>

                <%for(var zi = 0; zi<jbSplit2.length; zi++){
                    console.log(zi+":"+jbSplit2[zi])
                }%>
              </div>
              <br>
        <%}%>
        <% if(link_field[0]!=undefined){%>
            <h3>관련자료</h3>
            <%for(var z=0; z<link_field.length; z++){%>
                <a href="<%=link_field[z].link%>" target="_blank"><%=link_field[z].title%></a><br>
            <%}%>
        <%}%>
        <input style="float: right;"type="button" class="button" value="<%= __('lists')%>" onclick="history.back();">
    </div>
    
</section>
<%include includes/footer.ejs%>