<%include includes/header.ejs%>

<script>
    <%if(!research_results_table[0]){%>
        alert("검색된 내용이 없습니다.");
        location.href="/research_results";
    <%}%>
</script>
<section id="main" class="wrapper">
    <div class="row uniform">
        <div class="1u 12u$(xsmall)"></div>
        <div class="2u 12u$(xsmall)">
            <div class="table-wrapper">
                <table class="alt">
                    <tbody style="text-align: center;">
                        <tr style="cursor: pointer" onclick="location.href='/research_main'" >
                            <td>Main<span style="float:right;"><</span></td>
                          </tr>
                        <tr style="cursor: pointer" onclick="location.href='/research_results/select/1/1'" >
                            <td>논문<span style="float:right;">></span></td>
                        </tr>
                        <tr style="cursor: pointer" onclick="location.href='/research_results/select/2/1'" >
                            <td>특허<span style="float:right;">></span></td>
                        </tr>
                        <tr style="cursor: pointer" onclick="location.href='/research_results/select/3/1'" >
                            <td>발표<span style="float:right;">></span></td>
                        </tr>
                        <tr style="cursor: pointer" onclick="location.href='/research_results/select/4/1'" >
                            <td>저서<span style="float:right;">></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="8u 12u$(xsmall)">
            <div class="inner">
                <header class="align-center">
                    <h2>연구 성과(<%=isthis%>)</h2>
                    <p><%=__('research_results_subtitle')%></p>
                </header>

                <div class="table-wrapper">
                    <table class="align-center">
                        <thead>
                        <tr>
                            <!-- 가운데 정렬, 자바 스크립트 - 함수 사용하여 최소화 가능(?) -->
                            <style>
                                .align-center th{
                                    text-align: center;
                                }
                            </style>
                            <%if(isthis=='논문'){%>
                                <th>논문명</th>
                                <th>게재지(권, 쪽)</th>
                                <th>저자명</th>
                                <th>게재연도</th>
                            <%}else if(isthis=='특허'){%>
                                <th>구분</th>
                                <th>특허명</th>
                                <th>국가명</th>
                                <th>출원/등록일</th>
                                <th>발명자</th>
                                <th>출원/등록번호</th>
                            <%}else{%>
                                <th>구분</th>
                                <th>제목</th>
                                <th>저자명</th>
                                <th>게재연도</th>
                            <%}%>
                            
                        </tr>
                        </thead>
                        <tbody>

                        <%for(var i = (page_num - 1) * 7; i < page_num * 7; i++){%>
                            <%var row = research_results_table[i]
                                if(row === undefined) continue;
                            %>
                            <tr style="cursor: pointer" onclick="location.href='/research_results/detail/<%=row.rrid%>'" >

                                <%if(isthis=='논문'){%> 
                                    <%if(tran_value=='ko'){%>
                                        <td><%= row.result_name_ko%></td>
                                        <td><%= row.academic_journal_ko%></td>
                                        <td><%= row.writers_ko%></td>
                                    <%}else{%>
                                        <td><%= row.result_name_en%></td>
                                        <td><%= row.academic_journal_en%></td>
                                        <td><%= row.writers_en%></td>
                                    <%}%>
                                    <td><%= row.p_date%></td>

                                    <!-- 구분 -->

                                <%}else if(isthis=='특허'){%>
                                    <%if(tran_value=='ko'){%>
                                        <td><%= row.abstract_ko%></td>
                                        <td><%= row.result_name_ko%></td>
                                        <td><%= row.country_ko%></td>
                                        <td><%= row.p_date%></td>
                                        <td><%= row.writers_ko%></td>
                                    <%}else{%>
                                        <td><%= row.abstract_en%></td>
                                        <td><%= row.result_name_en%></td>
                                        <td><%= row.country_en%></td>
                                        <td><%= row.p_date%></td>
                                        <td><%= row.writers_en%></td>
                                    <%}%>
                                    <td><%= row.relation_task_ko%></td>

                                     <!-- 구분 -->

                                    <%}else{%> 
                                        <%if(tran_value=='ko'){%>
                                            <td><%= row.classification_ko%></td>
                                            <td><%= row.result_name_ko%></td>
                                            <td><%= row.writers_ko%></td>
                                            <td><%= row.p_date%></td>
                                        <%}else{%>
                                            <td><%= row.classification_en%></td>
                                            <td><%= row.result_name_en%></td>
                                            <td><%= row.writers_en%></td>
                                            <td><%= row.p_date%></td>
                                        <%}%>
                                    <%}%>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
                <!-- 쪽수 (1,2,3) -->
        
                <h4 style="text-align: center">
                    <%if(num_check=="0"){%>
                    <%for(var i = 1; i <= Math.ceil(research_results_table.length / 7); i++){%>
                        <a href="/research_results/page/<%= i%>"><%= i%> </a>
                    <%}}else if(num_check=="1"){%>
                    <%for(var i = 1; i <= Math.ceil(research_results_table.length / 7); i++){%>
                        <a href="/research_results/select/1/<%= i%>"><%= i%> </a>
                    <%}}else if(num_check=="2"){%>
                    <%for(var i = 1; i <= Math.ceil(research_results_table.length / 7); i++){%>
                        <a href="/research_results/select/2/<%= i%>"><%= i%> </a>
                    <%}}else if(num_check=="3"){%>
                    <%for(var i = 1; i <= Math.ceil(research_results_table.length / 7); i++){%>
                        <a href="/research_results/select/3/<%= i%>"><%= i%> </a>
                    <%}}else if(num_check=="4"){%>
                    <%for(var i = 1; i <= Math.ceil(research_results_table.length / 7); i++){%>
                        <a href="/research_results/select/4/<%= i%>"><%= i%> </a>
                    <%}}%>
                </h4>
        
                <div style="float:right" id="goto_write_page">
                    <a href="/research_results/write" class="button special"><%=__('research_results_create_btn')%></a>
                    <!--<a href="#" class="button">삭제하기</a>-->
                </div>
        
                <form id="form_submit" method="post">
                    <div class="row uniform">
                        <div class="2u 12u(medium)" style="float:left">
                            <select name="search_select_div" id="search_select_div" onclick="
                            if($('#search_select_div').val()==1){
                                $('#changethat').text('논문명으로 검색');
                                $('#changethat3').text('게제지로 검색');
                            }else if($('#search_select_div').val()==2){
                                $('#changethat').text('특허명으로 검색');
                                $('#changethat3').text('국가명으로 검색');
                            }else{
                                $('#changethat').text('제목으로 검색');
                                $('#changethat3').text('게제지로 검색');
                            };">
                                <option value="1">논문</option>
                                <option value="2">특허</option>
                                <option value="3">발표</option>
                                <option value="4">저서</option>
                            </select>
                            </div>
                        <div class="2u 12u(medium)" style="float:left">
                        <select name="search_select" id="search_select">
                            <option value="1" id="changethat">논문명으로 검색</option>
                            <option value="2">저자로 검색</option>
                            <option value="3" id="changethat3">게제지로 검색</option>
                        </select>
                        </div>
                        <div class="3u 12u(medium)" style="float:left; padding-left:5px">
                            <input id="search_data" name="search_data" type="text" placeholder="<%=__('research_results_search_data')%>" />
                        </div>
                        <div class="1u 12u(medium)" style="float:left;padding-left:5px">
                            <input class="button special fit" style="text-align: center" type="button" value="<%=__('search_data')%>" onclick="document.getElementById('form_submit').submit();"/>
                        </div>
                    </div>
                </form>
        
        
                <script>
                    <%if(cpt){%>
                    goto_write_page.style.visibility = "visible";
                    <%}else{%>
                    goto_write_page.style.visibility = "hidden";
                    <%}%>
                </script>
            </div>
        </div>

   
</section>

<%include includes/footer.ejs%>
